/**
Bootstrap hacks
*/
.row{
}
/**
responsive menu
*/
.responsive-menus.responsified span.toggler{
  border-radius: 0px;
  box-shadow: none;
  background-color: #1493A6 ;
}
.responsive-menus.responsified .responsive-menus-simple{
  background-color: #1493A6;
  box-shadow: none;
}

/**
side bar first region
*/
.region-sidebar-first{
  border-right: 2px solid #efefef;
  padding-top: 20px;
}
.logo-img img{
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
}

.block-search{
  display: block;
  background-color: #19BBD4;
  padding: 10px;
}
.block-search .form-group{
  margin-bottom: 0px;
}
.block-search .input-group{
  display: block;
}

.block-search .input-group .form-text{
  border-radius: 20px;
}
.block-search .input-group .input-group-btn{
  display: none;
}

.block-menu{
  background-color:#1493A6;
}

.block-menu .nav a{
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 20px;
}

.block-menu .nav a:hover, .block-menu .nav a:focus{
  background-color: #19BBD4;
}

.block-locale{
  background-color: #043754;
  text-align: center;
}

.block-locale ul {
  padding-left: 0px;
  padding-top: 5px;
}

.block-locale ul li{
  margin: 5px;
  display: inline;
  font-size: 14px;
}
.block-locale ul li a img{
  display: inline;
}

/** content */
header{
  margin-top: 20px;
}

.page-header{
}

