/* Custom IPU styles */

body{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

li{
    list-style: none;
}

#content {
    margin-top: 20px;
}

#main{
    padding-top: 0px;
}

#homepage h2{
    font-size: 39px;
    color: #1493a6;
    line-height: 39px;
    margin: 0px 0px 10px 0px;
    font-weight: 100;
}

#homepage table tbody tr td{
    width: 25%;
    vertical-align: top;
    padding-right: 20px;
    border: 1px solid red;
}

#homepage .content-item{
    width: 25%;
    vertical-align: top;
    padding-right: 20px;
    border: 1px solid red;
    float: left;
    box-sizing: border-box;
}

@media all and (min-width: 480px) and (max-width: 959px) {
    #homepage .content-item{
        width: 50%;
    }
    
    #homepage .content-item.views-row-odd{
        clear: left;
    }
}

#homepage .more-link{
    float: right;
    clear: both;
    width: 100%;
    margin-top: 10px;
}

#homepage .more-link a{
    width: 25%;
    height: 33px;
    line-height: 33px;
    background-color: #2093a4;
    color: #feffff;
    font-size: 18px;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    float: right;
}

#homepage .more-link a{
    content: ' ››';
}

#homepage .more-link a:hover{
    background-color: #033754;
}

#homepage .views-field img:hover{
    opacity: 0.8;
}

#homepage .views-field-title a{
    font-size: 20px;
    color: #4d4d4d;
    margin-top: 15px;
    text-decoration: none;
}

#homepage .views-field-title a:hover{
    color: #1493a6;
}

#homepage .views-field-title a:after{
    content: ' ››';
}

#homepage .views-field-field-image{
    height:180px;
    margin-bottom: 10px;
}

#homepage .views-field-field-location{
    height:140px;
    margin-bottom: 10px;
}

#homepage .views-field-field-youtube{
    float: left;
    margin-right: 20px;
}

#homepage .views-field-field-type, #homepage .views-field-field-theme, #homepage .views-field-field-event-type, #homepage .views-field-field-publication-type{
    font-size: 20px;
    color: #1493a6;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#homepage .featured-content-hp .event .views-label-field-date{
    font-size: 20px;
    color: #1493a6;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#homepage .views-field-created{
    font-size: 15px;
}

#homepage .views-field-field-date .field-content{
    text-transform: uppercase;
    background-image: url("../images/calendar.png");
    background-repeat:no-repeat ;
    padding-left: 40px;
    margin-bottom: 5px;
}

#homepage .twitter-president h2{
    visibility: hidden;
}

#homepage blockquote.image-field-caption{
    display: none;
}

.region-sidebar-first{
    border-right: 1px solid #dedede;
    padding-top:20px;
    padding-right: 0px;
}

.region-sidebar-first .logo-img img{
    display: block;
    margin: 0 auto;
}

.region-sidebar-first #block-search-form{
    background-color: #19bad3;
    padding: 10px;
    margin-bottom: 0px;
}
.region-sidebar-first #block-search-form .form-text{
     border: none;
     width: 100%;
     color: #8f8f8f;
     text-align: center;
     border-radius: 25px;
     padding: 10px;
 }

.navigation{
    background-color: #1493a6;
    margin-bottom: 0px;
}

.navigation .menu{
    margin:0px;
    padding: 0px;
    font-size: 20px;
}

.navigation .menu li{
    list-style: none;
}

.navigation .menu li a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation .menu li a.active, .navigation  .menu li a:hover{
    color: #00466e;
    /*background-color: #19bad3;*/
}

.navigation .menu li.is-expanded .menu a.active, .navigation  .menu li.is-expanded .menu a:hover{
    color: #00466e;
}

.navigation .menu li.is-expanded .menu{
    background: #00466e;
    border-top: 5px solid #0066a1;
}


.navigation .menu li.is-expanded .menu li a{
    padding-left: 20px;
}

.navigation .menu li.is-expanded .menu li a.active, .navigation .menu li.is-expanded .menu li a:hover{
    color: #00a8b4;
}

.navigation .menu li.is-expanded .menu li .menu li a{
    padding-left: 40px;
}

.region-sidebar-first #block-locale-language-content{
    background-color: #033754;
    margin-bottom: 0px;
    float: left;
}

.region-sidebar-first #block-locale-language-content ul li a{
    font-weight: bold;
    font-size: 18px !important;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    text-decoration: none;
    margin-right: 5px;
}

.region-sidebar-first #block-locale-language-content ul li a:hover, .region-sidebar-first #block-locale-language-content ul li a.active{
    color: #8ee6e1;
}

.region-sidebar-first #block-locale-language-content ul.language-switcher-locale-url{
    list-style: none;
    padding: 10px;
    margin: 0px;
}

.region-sidebar-first #block-locale-language-content ul.language-switcher-locale-url li{
    display: inline;
}

.region-sidebar-first .block-text-resize{
    background-color: #033754;
    margin-bottom: 0px;
    padding-right: 5px;
}

.region-sidebar-first .block-text-resize a{
    float: right;
    margin-top: 9px;
    margin-right: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px !important;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    text-decoration: none;
    outline: none;
}

.region-sidebar-first .block-text-resize a:hover{
    color: #8ee6e1;
}

.region-sidebar-first .block-text-resize a#text_resize_decrease{
    font-size: 14px !important;
    margin-top: 12px;
}

.region-sidebar-first .block-text-resize a#text_resize_reset{
    margin-top: 10px;

}

.region-sidebar-first .block-text-resize a#text_resize_increase{
    font-size: 23px !important;
}

.region-sidebar-first .social-media{
    background-color: #0E5277;
    margin-bottom: 0px;
    text-align: center;
}

.region-sidebar-first .social-media span{
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
}

.region-sidebar-first .newsletter-subscription{
    background-color: #0E5277;
    margin-bottom: 0px;
}

.region-sidebar-first .newsletter-subscription .form-item{
    display: table;
    margin:0 auto;
}

.region-sidebar-first .newsletter-subscription .form-item .form-text{
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-image: url("../images/newsletter.png");
    background-position: 5px;
    background-repeat:no-repeat ;
}

.region-sidebar-first .newsletter-subscription .form-actions {
    display: table;
    margin:0 auto;
}

.region-sidebar-first .newsletter-subscription .form-actions .form-submit{
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1493a6;
    color: white;
    width:100%;
    margin-bottom: 10px;
}

.responsive-menus span.toggler{
    background-color: #1493a6 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.responsive-menus .responsive-menus-simple{
    background-color: #1493a6 !important;
    margin-bottom: 0px !important;
    box-shadow: none !important;
}

#footer{
    border-top: 1px solid #1493a6;
    margin-top: 10px;
    padding-top: 20px;
    background-color: #E3E6E8;
}

#footer a{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #4d4d4d;
    text-decoration: none;
}

#footer h2{
    color: #4d4d4d;
    font-size: 20px;
    margin: 0px !important;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

#footer ul{
    padding: 0px;
    margin: 0px;
    line-height: 30px;
}

#footer p{
    margin-top:7px;
}
#footer .block{
    float: left;
    width: 25%;
}

#footer .ipu-contact{
}

#page-title{
    font-size: 30px;
    color: #1493a6;
    line-height: 39px;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 100;
}

#content article .field-name-field-image{
    clear: right;
}
#content article .field-name-field-image .field-items{
    float: right;
    padding-bottom: 10px;
    position: relative;
}
#content article .field-name-field-image .field-items blockquote.image-field-caption{
    margin: 0px;
    position: absolute;
    bottom: 17px;
    width: 100%;
    color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(72, 72, 72, 0.7);
}

#content article .field-name-field-image .field-items blockquote.image-field-caption p{
    margin: 0px;
}

#content article .field-name-field-location{
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}

#content article .field-name-field-share{
    float: right;
}

#content .field-name-field-share .addthis_button_email .at-icon-wrapper{
    background-color: #1493a6 !important;
}
#content .field-name-field-share .addthis_button_print .at-icon-wrapper{
    background-color: #0E5277 !important;
}