/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

/* Custom IPU styles */

body{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
}

.menu a.active, .menu a:hover{
    color: #00466e;
}

.menu li.is-expanded ul.menu a.active, .menu li.is-expanded ul.menu a:hover{
    color: #00a8b4;
}

.menu a{
    color: white;
}

#main{
    padding-top: 0px;
}

.region-sidebar-first{
    border-right: 1px solid #dedede;
    padding-top:20px;
    padding-right: 0px;
}

.region-sidebar-first .logo-img img{
    display: block;
    margin: 0 auto;
}

.region-sidebar-first #block-search-form{
    background-color: #19bad3;
    padding: 10px;
    margin-bottom: 0px;
}
.region-sidebar-first #block-search-form .form-text{
     border: none;
     width: 100%;
     color: #8f8f8f;
     text-align: center;
     border-radius: 25px;
     padding: 10px;
 }

.region-sidebar-first #block-system-main-menu{
    background-color: #1493a6;
    margin-bottom: 0px;
}

.region-sidebar-first #block-system-main-menu .menu{
    margin:0px;
    padding: 0px;
    line-height: 3em;
    font-size: 20px;
}

.region-sidebar-first #block-system-main-menu ul.menu li{
    list-style: none;
}

.region-sidebar-first #block-system-main-menu ul.menu li a{
    text-decoration: none;
    padding-left: 10px;
}

.region-sidebar-first #block-system-main-menu ul.menu li.is-expanded ul.menu{
    background: #00466e;
    border-top: 0.34375em solid #0066a1;
    padding-left: 20px;
}

.region-sidebar-first #block-system-main-menu ul.menu li.is-expanded ul.menu{
    background: #00466e;
    border-top: 2px solid #0066a1;
}

.region-sidebar-first #block-locale-language-content{
    background-color: #033754;
    margin-bottom: 0px;
    float: left;
}

.region-sidebar-first #block-locale-language-content ul li a{
    font-weight: bold;
    font-size: 18px !important;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    text-decoration: none;
    margin-right: 5px;
}

.region-sidebar-first #block-locale-language-content ul li a:hover, .region-sidebar-first #block-locale-language-content ul li a.active{
    color: #8ee6e1;
}

.region-sidebar-first #block-locale-language-content ul.language-switcher-locale-url{
    list-style: none;
    padding: 10px;
    margin: 0px;
}

.region-sidebar-first #block-locale-language-content ul.language-switcher-locale-url li{
    display: inline;
}

.region-sidebar-first .block-text-resize{
    background-color: #033754;
    margin-bottom: 0px;
    padding-right: 5px;
}

.responsive-menus span.toggler{
    background-color: #1493a6 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.responsive-menus .responsive-menus-simple{
    background-color: #1493a6 !important;
    margin-bottom: 0px !important;
}

.responsive-menus .responsive-menus-simple ul li.is-expanded ul{
    background: #00466e !important;
}